<div class="row">
    <h2>Your courses are deployed for: {{category}}</h2>
    <h2>Enrolment Start Date: {{enrolmentStartDate}}</h2>
    <h2>Enrolment End Date: {{enrolmentEndDate}}</h2>
    <h2>Course start date will be the same as <b>Enrolment Start Date</b></h2>
    <p>Failed column will be marked with FAIL!</p>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Course Name</th>
                <th>Enrolment Key Dosen</th>
                <th>Enrolment Key Mahasiswa</th>
                <th>Create course if failing</th>
                <th>Create enrolment for dosen</th>
                <th>Create enrolment for mahasiswa</th>
            </tr>
        </thead>
        <tbody>
            {{#each rows}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{{this.[3]}}}</td>
                    <td>{{this.[4]}}</td>
                    <td>{{this.[5]}}</td>
                    <td>{{{this.[6]}}}</td>
                    <td>{{{this.[7]}}}</td>
                    <td>{{{this.[8]}}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>